body{
	background-color: #FFF;
}

.page-wrapper{
	max-width: 940px;
	margin: 0 auto;
}

.rs-wrapper{
	
}

.rs-section{
	
}

.grid{
	
}

.rs-header{
	
}

.rs-main-content{

	
}

.rs-footer{

}


.no-js{
	
}