body{
	background-color: #FFF;
}

$nav-animate-time: .25s;
.portfolioMenu{
	
	font-family: $nav-font;
	color: #FFF;
	text-transform: uppercase;
    font-weight: 800;

    .menu{
    	text-transform: uppercase;
    }

    h2{
    	font-family: $rs-secondary-font;
		color: #FFF;
		text-transform: uppercase;
    	font-weight: 800;
    	margin: 0;
    	line-height: 45px;
    	letter-spacing: 2px;
    }

    .top-bar{
    	height: auto;
    	padding: $base-spacing-unit $base-spacing-unit-custom;
    	@include transition(padding $base-animate-time ease-in-out);
    	
    }

    &.fixed{
    	.top-bar{
    		padding: $base-spacing-unit-custom $base-spacing-unit-custom;
    	}
    }

    @media #{$small-only} {
    	.top-bar{
    		text-align: center;
    		padding: $base-spacing-unit-custom;
    	}
    	&.fixed{
	    	.top-bar{
	    		padding: $base-spacing-unit-custom;
	    	}
	    }
    	h2{
    		font-size: 1.25em;

    	}
    }

}

.portfolioHero{
	height: 100%;
	background: #FFF;

	.heroBackgroundWrapper{
		display: none;
		position: relative;
		height: 100%;
	}

	.heroBackgroundFallback{
		background-image: url("/img/bg-fallback-mobile.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;
	}

	.heroBackground{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: url("/img/hero-space-opt.jpg");
		opacity: 0.5;
		background-size: cover;
		background-position: center;

		$bg-blur: 3px;
		-webkit-filter: blur($bg-blur);
		-moz-filter: blur($bg-blur);
		-o-filter: blur($bg-blur);
		-ms-filter: blur($bg-blur);
		filter: blur($bg-blur);
	}

	.heroContainer{
		position:absolute;
  		-webkit-transform: translate(0,-50%);
	      -ms-transform: translate(0,-50%);
	          transform: translate(0,-50%);
	    left:0;
	    top:50%;
	    width: 100%;

  		.title{
  			font-weight: 800;
			color: transparent;
			font-size: 180px;
			background: url("/img/hero-space-opt.jpg") repeat;
			background-position: 50% 50%;
			background-size: 200% auto;
			-webkit-background-clip: text;
			position:relative;
			text-align:center;
			line-height: 160px;
			letter-spacing: 6px;
			font-family: "Blackout", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  		}

  		.position{
  			font-size: 90px;
  			letter-spacing: 2px;
  			white-space: nowrap;
  			font-weight: normal;

  		}

  		@media #{$small-only} {
  			.title{
  				font-size: 80px;
	  			letter-spacing: 2px;
	  			line-height: 80px;
  			}
			.position{
				font-size: 42px;
	  			letter-spacing: -1px;
			}
		}

		@media #{$large-up}{
			.title{
				padding: 0 240px;
			}
		}
	}
	@media #{$small-only} {
		margin-bottom: -65px;

		.heroBackground{
  			.title{
  				font-size: 80px;
	  			letter-spacing: 2px;
	  			line-height: 80px;
  			}
			.position{
				font-size: 42px;
	  			letter-spacing: -1px;
			}
		}
	}

	@media #{$medium-up}{
		.heroBackgroundFallback{
			background-image: url("/img/bg-fallback.jpg");
		}
	}


}

.chrome, .opera, .safari, .mobile, .android, .iphone, .tablet{
	.portfolioHero{
		.heroBackgroundWrapper{
			display: block;
		}
		.heroBackgroundFallback{
			display: none;
		}
	}
}

.contact{
	ul{
		line-height: normal;
		list-style-type: none;
		margin: 0;

		li{
			padding: 10px 0;
			font-size: 20px;
			line-height: 1.5em;

			a, address{
				text-decoration: none;
				font-style: none;
				font-weight: 800;
				
				display: inline;
			}
		}
	}

	.contact-title{
		text-transform: uppercase;
	}
}

.f-topbar-fixed{
	.bio{
		padding-top: 165px;

		@media #{$small-only} {
			padding-top: 105px;
		}
	}
	// @media #{$small-only} {
	// 	.bio{
	// 		padding-top: 105px;
	// 	}
	// }
}
.bio{
	padding-top: 105px;
}



//protfolio


.portfolio-item-wrapper{
	position: relative;
	overflow: hidden;
	cursor: pointer;
	@include box-shadow(0, 0, 20px, 0, rgba(48,48,48,0.5));

	&:hover{
		.portfolio-item-details{
			bottom: 0;
		}
		.portfolio-example{
			@include grayscale(0);
		}
	}

	.portfolio-example{
		@include grayscale(100%);
		@include transition(all $base-animate-time ease-in-out);
	}
}

.portfolio-item-details{
	position: absolute;
	bottom: -67px;
	left: 0;
	width: 100%;
	height: 67px;
	background-color: #fff;
	opacity: .9;
	padding: 20px 0;
	@include transition(bottom $base-animate-time ease-in-out);
	background-color: $rs-primary-color;
	text-align: center;

	h3{
		font-family: $rs-tertiary-font;
		margin: 0;
		color: #fff;
	}
}

.portfolio-items{
	list-style-type: none;

	.portfolio-item{
		padding: 40px;
	}
}


.portfolio-modal{

	.fa-arrow-right{
		font-size: 10px;
		vertical-align: middle;
	}

	img{
		@include box-shadow(0, 0, 20px, 0, rgba(48,48,48,0.5));
	}

	.portfolio-modal-details{
		padding-top: ($base-spacing-unit/2);

		ul{
			color: $rs-text-dark;
			line-height: 1.5;
		}
	}
}




.no-js{
	
}