//styleguide

body{
	color: $rs-text-dark;
	font-family: $rs-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $rs-primary-color;
}

h1, .h1{
	font-size: $h1-font-size;
	line-height: 1em;
	text-transform: uppercase;
	margin: 0 0 $base-spacing-unit-custom;
}

h2, .h2{
	font-size: $h2-font-size;
	line-height: 1em;
	text-transform: uppercase;
	margin: 0 0 $base-spacing-unit-custom;
}

h3, .h3{
	font-size: $h3-font-size;
	line-height: 1em;
	color: $rs-primary-color;
	margin: 0 0 $base-spacing-unit-custom;
}

h4, .h4{
	font-size: $h4-font-size;
	line-height: 1em;
	font-family: $rs-font-bold;
}

h5, .h5{
	font-size: $h5-font-size;
	line-height: 1em;
	color: $rs-text-med;
}

h6, .h6{
	font-size: $h6-font-size;
	line-height: 1em;
}

span, .span{
	font-size: $base-font-size;
	line-height: $base-line-height;
}

ul, .ul{
	line-height: $base-spacing-unit-custom;
}

li, .li{
	
}

a, .a{
	color: $rs-primary-color;
	text-decoration: none;
	@include transition(color 0.2s ease-in-out);

	&:hover{
		color: $rs-text-dark;
	}

	&.inverted{
		color: $rs-text-dark;

		&:hover{
			color: $rs-primary-color;
		}
	}
}

p, .p{
	line-height: $base-line-height;
	font-size: $base-font-size;
	color: $rs-text-dark;
	padding-bottom: $base-spacing-unit-custom;
}

button, .button{
	font-weight: 800;
}

nav{

	.top-bar{
		//background: $rs-primary-color-dark;
	}
	.top-bar-section ul li{
		//background-color: $rs-primary-color-dark;

		a{
			//background: $rs-primary-color-dark;
			font-family: $rs-secondary-font;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}

section{
	padding: ($base-spacing-unit * 2) 0;

	h2{
		padding-bottom: 10px;
		font-family: $rs-tertiary-font;
	}

	&:nth-child(odd){
		background-color: #FFF;

		.button{
			background-color: #FFF;
			border: solid 2px $rs-primary-color;
			color: $rs-text-dark;
			@include transition(background-color $base-animate-time ease-in-out);
			&:hover{
				background-color: $rs-primary-color;
			}
		}

		
	}
	&:nth-child(even){
		background-color: $rs-primary-color;
		color: #FFF;

		h2, p, a{
			color: #FFF;
		}

		.button{
			background-color: #FFF;
			border: solid 2px #FFF;
			color: $rs-text-dark;
			@include transition(background-color $base-animate-time ease-in-out, color $base-animate-time ease-in-out);
			&:hover{
				background-color: $rs-primary-color;
				color: #fff;
			}
		}

		.portfolio-item-details{
			background-color: #fff;
			h3{
				color: $rs-text-dark;;
			}
		}
	}
}



.modal{
	border-radius: 3px;
	display: none;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1005;
	left: 0;
	background-color: #FFFFFF;
	padding: 1.66667rem;
	border: solid 1px #666666;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

	>:last-child {
	    margin-bottom: 0;
	}

	.close-reveal-modal{
		color: #AAAAAA;
		cursor: pointer;
		font-size: 2.22222rem;
		font-weight: bold;
		line-height: 1;
		position: absolute;
		top: 0.55556rem;
		right: 1.22222rem;
		text-decoration: none;
		@include transition(color $base-animate-time ease-in-out);

		&:hover{
			color: $rs-primary-color;
		}
	}

	@media #{$small-up}{
		left: 0;
		margin: 0 auto;
		max-width: 55.55556rem;
		right: 0;
		width: 80%;
		top: 5.55556rem;
	}

	&.open{
		top: $base-spacing-unit !important;
		bottom: $base-spacing-unit !important;
		overflow-y: auto;
	}
}

.owl-carousel{
	padding: 0 50px;
}

.owl-item{
	padding: 20px;

	a{
		padding: 10px 0;
		font-size: 15px;

		.fa-arrow-right{
			font-size: 10px;
		}
	}
}

.no-js{
	
}
