//styleguide

body{
	color: $rs-text-dark;
	font-family: $rs-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $rs-primary-color;
}

h1, .h1{
	font-size: $h1-size;
	line-height: 1em;
	font-family: $rs-font;
	text-transform: uppercase;
	margin: 0 0 $base-spacing-unit-custom;
}

h2, .h2{
	font-size: $h2-size;
	line-height: 1em;
	color: $rs-primary-color;
	text-transform: uppercase;
	margin: 0 0 $base-spacing-unit-custom;
}

h3, .h3{
	font-size: $h3-size;
	line-height: 1em;
	color: $rs-primary-color;
	margin: 0 0 $base-spacing-unit-custom;
}

h4, .h4{
	font-size: $h4-size;
	line-height: 1em;
	font-family: $rs-font-bold;
}

h5, .h5{
	font-size: $h5-size;
	line-height: 1em;
	color: $rs-text-med;
}

h6, .h6{
	font-size: $h6-size;
	line-height: 1em;
}

span, .span{
	font-size: $base-font-size;
	line-height: $base-line-height;
}

ul, .ul{
	line-height: $base-spacing-unit-custom;
}

li, .li{
	
}

a, .a{
	color: $rs-primary-color;
	text-decoration: none;
	@include transition(color, 0.2s, ease-in-out);

	&:hover{
		color: $rs-text-dark;
	}

	&.inverted{
		color: $rs-text-dark;

		&:hover{
			color: $rs-primary-color;
		}
	}
}

p, .p{
	line-height: $base-line-height;
	font-size: $base-font-size;
	color: $rs-text-dark;
	padding-bottom: $base-spacing-unit-custom;
}


.no-js{
	
}
