//inuit defaults
$base-spacing-unit: 40px;
$base-spacing-unit-custom: 10px;
$base-font-family: 'Lato_regular', sans-serif;


//colors

$rs-primary-color: #69bec3;
$rs-primary-color-dark: #447c7f;
$rs-secondary-color: blue;
$rs-text-dark: #444;
$rs-text-med: #888;
$rs-text-light: #aaa;

$rs-header-font-color: #999;
$rs-cont-font-color: #666;

$rs-bg-primary: #fff;
$rs-body-bg: #f2f2f2;
$rs-section-alt-bg: #f5f5f5;


//font
$rs-font: 'Lato_regular', sans-serif;
$rs-font-bold: 'Lato_bold', sans-serif;
$rs-font-italic: 'Lato_italic', sans-serif;

